<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <!--<intercept-url pattern="**/css/style.css" access="permitAll"/>-->
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/employee/**" access="hasRole('ROLE_DISPATCHER')"/>
        <intercept-url pattern="/flight/main" access="permitAll"/>
        <intercept-url pattern="/flight/addPage/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/flight/updatePage/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/flight/update/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/flight/delete/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/plane/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/airport/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/user/main" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/crew/addPage/**" access="hasRole('ROLE_DISPATCHER')"/>
        <form-login
                login-page="/signIn"
                username-parameter="userName"
                password-parameter="password"
                default-target-url="/login"
                authentication-failure-url="/access_denied"/>
        <csrf disabled="true"/>
        <logout invalidate-session="true"
                logout-success-url="/signIn"
                logout-url="/logout"
                delete-cookies="JSESSIONID"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref='authenticationService'/>
    </authentication-manager>

    <beans:bean id="authenticationService" class="by.pvt.kish.aircompany.authentication.AuthenticationService"/>
</beans:beans>